<div class="container-fluid">
	<%- model_class = Task -%>
	<div class="page-header">
		<legend style="padding: 1%2%1%2%">
			<%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human %>
		</legend>
	</div>
	<%= render :partial => 'form' %>
</div>