<div id="containerS" style="margin-left: 2%; width:96%; height:400px;"></div>
<hr>
<div id="containerT" style="margin-left: 2%; width:96%; height:400px;"></div>
<hr>
<div id="containerR" style="margin-left: 2%; width:96%; height:400px;"></div>
<hr>
<div id="containerP" style="margin-left: 2%; width:96%; height:400px;"></div>
<hr>
<%= high_chart("containerS", @s) %>
<%= high_chart("containerT", @t) %>
<%= high_chart("containerR", @r) %>
<%= high_chart("containerP", @p) %>